* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bt-color: #fdacac;
  --bg-color: #bbbb5b;
  --ft-color: #ffffff;
}
html,
body {
  font-family: "Grape Nuts", cursive;
  /* height: 100%; */
}
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
  background-position: cover;
}

/* .bgImg {
  background-image: url(/img/Welcome-bg.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; */
/* position: absolute; */
/* z-index: -1; */

button {
  font-family: "Grape Nuts", cursive;
  margin: 25px 10px 0px 45px;
  padding: 15px;
  letter-spacing: 1px;
  border: 0;
  background-color: var(--bg-color);
  color: var(--ft-color);
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
}
button:hover {
  opacity: 1;
}
/* styling the menu */
#menu {
  font-size: 25px;
  width: 50%;
  margin: 0 auto;
  border: 0;
  display: none;
}
span:hover {
  color: white;
  cursor: pointer;
}
.heading {
  background-color: var(--bg-color);
  color: black;
  padding: 10px;
}
.starter {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 22px;
  padding: 8px;
  color: var(--ft-color);
}

/* styling the contact */
#contact {
  font-size: 25px;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border: 0;
  display: none;
}

.contact-heading {
  background-color: var(--bg-color);
  display: flex;
  padding: 10px;
}
span {
  margin-left: auto;
}
input {
  width: 100%;
  padding: 12px 15px;
  outline-color: var(--bg-color);
  font-size: 18px;
}
form p {
  margin-top: 10px;
  font-size: 22px;
}
input[type="button"] {
  font-family: "Grape Nuts", cursive;
  border: 0;
  opacity: 0.8;
  font-size: 20px;
  cursor: pointer;
}
::placeholder {
  font-family: "Grape Nuts", cursive;
  font-size: 18px;
}
